div.wrapper {
    display: flex; 
    justify-content: space-between;
    margin: 20px;
    padding: 10px;
    background-color:lightcyan;
  }
  section.main {
    flex:3; 
    padding: 15px; 
    background-color: teal;
  }
  aside {
    flex:1; 
    padding: 15px; 
    background-color: darkseagreen; 
    border: 2px white; 
  }